

<body ng-controller="registerController" class="container-fluid">

	<form class="form-signin">
		<label for="inputCity" class="sr-only">Cidade</label>
		<input type="city" id="inputCity" class="form-control" placeholder="Cidade:" required autofocus
			ng-model="client.city">

		<label for="inputState" class="sr-only">Estado</label>
		<input type="state" id="inputState" class="form-control" placeholder="Estado:" required autofocus
			ng-model="client.state">

		<!-- User Informations-->	
		<label for="inputCpf" class="sr-only">CPF</label>
		<input type="cpf" id="inputCpf" class="form-control" placeholder="CPF" required autofocus
			ng-model="client.cpf">

		<label for="inputName" class="sr-only">Nome Completo</label>
		<input type="name" id="inputName" class="form-control" placeholder="Nome Completo" required autofocus
			ng-model="client.name">

		<label for="inputEmail" class="sr-only">Email address</label>
		<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus
			ng-model="client.email">

		<label for="inputPassword" class="sr-only">Password</label>
		<input type="password" id="inputPassword" class="form-control" placeholder="Password" required
			ng-model="client.password">


		<button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="createClient()">Salvar</button>
		<button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="">Cancelar</button>

		<p class="mt-5 mb-3 text-muted">&copy; 2020</p>
	</form>
</div>
