#container {
    width: 62%;
    margin: auto;
    padding: 10px;
}

.footer {
    background-color: black;
    padding: 30px;
    color: white;
    text-align: center;
}

.footer-left{
    float: left;
    text-align: justify;
}

.footer-right{
    float: right;
}