<div ng-controller="paymentController">
    <!-- TODAS AS INFORMAÇÕES DE ALUGUEL -->
    <div class="container-info">
        <!-- INFORMAÇÕES DO PEDIDO - MOTO E CLIENTE -->
        <div class="jumbotron" style="background-color: #fff;">
            <p style="font-size: 37px; color: #428bca; margin-top: -50px;">Informações do pedido</p>

            <div class="conteiner-fluid">
                <p style="font-size: 20px; color: #428bca; margin-left: 15px;">Informções da moto</p>
                <div class="card border-light mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="{{moto.foto}}" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{moto.name}}</h5>
                                <p class="card-text">{{moto.description}}</p>
                                <p class="card-text">{{moto.km}}Km Rodados</p>
                                <p class="card-text">Preço por km: R${{moto.pricePerKm}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="container-fluid">
                <p style="font-size: 20px; color: #428bca;">Informações do usuário</p>
                <div class="row ">
                    <!-- Formulário para adicionar um endereço -->
                    <div class="col-sm-6">
                        <div class="card border-light">
                            <div class="card-body">
                                <h5 class="card-title">Novo Endereço:</h5>
                                <div class="row">
                                    <div class="input-group form-group">
                                        <input type="street" id="inputStreet" class="form-control col-md-9"
                                            placeholder="Rua" ng-model="address.street">
                                        <input type="text" id="inputNumber" class="form-control col-md-3 "
                                            placeholder="Nº" ng-model="address.number">
                                    </div>
                                    <div class="input-group form-group" style="margin-top: -15px;">
                                        <label for="inputZipCode" class="sr-only">CEP</label>
                                        <input type="zipcode" id="inputZipCode" class="form-control col-md-4"
                                            placeholder="CEP" ng-model="address.zipcode">
                                        <label for="inputNeighborhood" class="sr-only">Bairro</label>
                                        <input type="neighborhood" id="inputNeighborhood" class="form-control"
                                            placeholder="Bairro" ng-model="address.neighborhood">
                                    </div>
                                    <div class="input-group form-group" style="margin-top: -15px;">
                                        <label for="inputCity" class="sr-only">Cidade</label>
                                        <input type="city" id="inputCity" class="form-control col-md-10"
                                            placeholder="Cidade" ng-model="address.city">
                                        <label for="inputState" class="sr-only">Estado</label>
                                        <select type="state" id="inputState" class="form-control col-md-4 "
                                            placeholder="Estado" ng-model="address.state">
                                            <option>Estado</option>
                                            <option>BH</option>
                                            <option>PR</option>
                                            <option>RJ</option>
                                            <option>SP</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Fim Form novo endereço -->

                    <!-- Endereço do usuário -->
                   
                    <div class="col-md-6 ">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Endereço:</h5>
                                {{user.street}}, {{user.number}}<br> 
                                {{user.neighborhood}} - {{user.city}} - {{user.state}}<br>
                                CEP: {{user.zipCode}}<br>
                                <hr>
                                <input id="usarEndereco" name="usarEndereco" type="checkbox">
                                <label for="usarEndereco">Usar este endereço</label>
                            </div>
                        </div>
                    </div>
                    <!-- Fim do card endereço -->
                </div>
            </div>
        </div>
        <hr>
        <!-- FIM DAS INFORMAÇÕES DO PEDIDO -->

        <!-- FORMA DE PAGAMENTO E ENDEREÇO -->
        <div class="jumbotron" style="background-color: white;">
            <p style="font-size: 37px; color: #428bca; margin-top: -50px;">Adicionar cartão</p>


            <form class="form-group">
                <!-- Informações do cartão -->
                <div class="col-md-6-offset-2 container-pagamento">
                    <label for="inputCardHolder" class="sr-only">Nome do Títular</label>
                    <input type="text" id="inputCardHolder" class="form-control" placeholder="Nome do Títular"
                        ng-model="card.cardHolder">

                    <label for="inputCpfHolder" class="sr-only">CPF</label>
                    <input type="cpf" id="inputCpfHolder" class="form-control" placeholder="CPF"
                        ng-model="card.cpfHolder">

                    <label for="inputCardNumber" class="sr-only">Número do Cartão</label>
                    <input type="cardNumber" id="inputCardNumber" class="form-control" placeholder="Número do cartão"
                        ng-model="card.cardNumber">

                    <div class="input-group form-group">

                        <label for="inputCVV" class="sr-only">Código de Segurança</label>
                        <input type="cvv" id="inputCVV" class="form-control col-md-3" placeholder="CCV"
                            ng-model="card.cvv">
                        <label for="inputDueDate" class="sr-only">Data de Vencimento</label>
                        <input type="dueDate" id="inputDueDate" class="form-control" placeholder="Vencimento"
                            ng-model="card.dueDate">

                        <label for="inputFlag" class="sr-only">Bandeira do cartão</label>
                        <select type="flag" id="inputFlag" class="form-control col-md-4 " placeholder="Bandeira"
                            ng-model="card.flag">
                            <option>MasterCard</option>
                            <option>Visa</option>
                            <option>Elo</option>
                            <option>Hipercard</option>
                        </select>

                    </div>

                    <div class="btn-cartao">
                        <button type="submit" ng-click="finish()" class="btn btn-primary">Finalizar Pedido</button>
                        <button type="submit" ng-click="goToHome()" class="btn btn-primary"> Cancelar</button>
                    </div>
                    <hr>
                </div>
            </form>

        </div>
        <!-- FIM DA FORMA DE PAGAMENTO -->

    </div>
    <!-- TODAS AS INFORMAÇÕES DE ALUGUEL -->

</div>