
<div class="footer">
	<div id="container">
		<div class="row">
			<div class="col-md-6">
				<div class="footer-left">
					<h3>SOBRE O E-MOTO:</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dapibus dui id lacus
						sagittis interdum.
						Aliquam a faucibus nisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
						posuere cubilia curae;
						Quisque ipsum nulla, ultricies vitae aliquet ut, consectetur non nunc.. </p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="footer-right">
					<ul>
						<li>Alguma coisa 1</li>
						<li>Alguma coisa 2</li>
						<li>Alguma coisa 3</li>
						<li>Alguma coisa 4</li>
						<li>Alguma coisa 5</li>
						<li>Alguma coisa 6</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<span class="text-center">&copy; 2020</span>
</div>