<link rel="stylesheet" href="../css/footer.css">

<footer>
    <div class="footer">
        <div id="container">
            <div class="row">
                <div class="container">
                    <h3>SOBRE O E-MOTOS:</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dapibus dui id lacus sagittis interdum. Aliquam a faucibus nisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Quisque ipsum
                        nulla, ultricies vitae aliquet ut, consectetur non nunc.. </p>
                </div>
                <div class="container">
                    <div class="icon-bar">
                        <a href="#emotos-facebook" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#emotos-twitter" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#emotos-google+" class="google"><i class="fa fa-google"></i></a>
                        <a href="#emotos-linkedin" class="linkedin"><i class="fa fa-linkedin"></i></a>
                        <a href="#emotos-youtube" class="youtube"><i class="fa fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <span class="text-center">&copy; E-Motos &#8212; Aluguel de Motos &#8212; 2020</span>
    </div>
</footer>