<link rel="stylesheet" href="../css/home.css">


<div class="jumbotron"> 
	<!-- Nome e email do user da sessão  -->
	<h5 style="padding-left: 10px;">
		E-mail: ${clientLoged.email}<br> Nome: ${clientLoged.name}
	</h5>
	

	<!-- Header -->
	<!-- <div ng-include="'header.html'"></div> -->
	<!-- <header>
		<div class="header">
			<div id="container">
				<span class="fas fa-motorcycle"></span>
				<a href="#default" class="logo"> E-MOTOS</a>
				<div class="header-right">
					<a class="active" href="#contact">Contact</a>
					<a href="#addmore">Add more</a>
					<a href="#exit">Exit</a>
				</div>
			</div>
		</div>
	</header> -->

	<!-- CONTEUDO 1 - POR QUE A E-MOTOS -->
	<div class="jumbotron text-center" style="background-color: #fff;">
		<h1 style="font-size: 55px; color: #428bca;">Por que escolher o
			E-Motos?</h1>
		<br>
		<br>
		<div class="row">
			<div class="col-md-4">
				<span class="far fa-check-circle" style="font-size: 40px; color: #91E88E;"></span>
				<h3>Melhores motos</h3>
				<p>Nós estamos aqui para te oferecer as melhores motos do
					mercado.</p>
			</div>
			<div class="col-md-4">
				<span class="fas fa-headset" style="font-size: 40px; color: black;"></span>
				<h3>Melhor atendimento</h3>
				<p>Prezamos pelos nossos clientes, entregamos o melhor
					atendimento com uma equipe atenta 24H.</p>
			</div>
			<div class="col-md-4">
				<span class="far fa-money-bill-alt" style="font-size: 40px; color: #91E88E;"></span>
				<h3>Melhores preços</h3>
				<p>Os preços mais acessíveis para que você consiga garantir uma
					moto pro dia-a-dia.</p>
			</div>
		</div>
		<br>
		<br>
		<br>
		<div class="row">
			<div class="col-md-4">
				<span class="far fa-thumbs-up" style="font-size: 40px; color: #428bca;"></span>
				<h3>Qualidade</h3>
				<p>Todas as nossas motos tem os melhores equipamentos do
					mercado.</p>
			</div>

			<div class="col-md-4">
				<span class="fas fa-running" style="font-size: 40px; color: black;"></span>
				<h3>Agilidade</h3>
				<p>Trabalhamos para que a entrega seja o mais rápido possível.</p>
			</div>
			<div class="col-md-4">
				<span class="far fa-handshake" style="font-size: 40px; color: #428bca;"></span>
				<h3>Confiança</h3>
				<p>Confiança é a base da nossa relação com os clientes.</p>
			</div>
		</div>
	</div>
	<hr>
	<!-- FIM DO CONTEÚDO 1 -->

	<!-- <button ng-click="listMotos()">ListMotos</button> -->

	<div class="container-fluid text-center info-motos" >
		<h1 style="font-size: 55px; color: #428bca;">Nossas opções de motos</h1>
		<div class="row">
			<div class="panel panel-default text-center col-sm-3" ng-repeat="moto in motos ">
				<div class="panel-heading ">
					<a class="col-md-2"><img src="{{moto.photoMoto}}" class="img-thumbnail mx-auto d-block" style="border: 0;">
					</a>
				</div>
				<hr>
				<div>
					<p><b>Information:</b> {{moto.brand}} - {{moto.name}} - {{moto.model}} </p>
					<p><b>Details:</b> {{moto.description}} </p>
					<p><b>KM:</b> {{moto.km}}</p>
				</div>
				<hr>
				<div>
					<button type="submit" ng-click="goToPayment(moto)" class="btn btn-primary ">Alugue</button>
					<button id="alterarMoto" class="btn btn-primary " data-toggle="modal"
						data-target="#addMore">Alterar</button>
					<button class="btn btn-primary ">Excluir</button>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<button ng-click="sair()">Exit</button>
	<!-- Rodapé -->
	<!-- <div ng-include="'footer.html'"></div> -->

	<!-- <div class="footer">
		<div id="container">
			<div class="row">
				<div class="col-md-6">
					<div class="footer-left">
						<h3>SOBRE O E-MOTO:</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dapibus dui id lacus
							sagittis interdum.
							Aliquam a faucibus nisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
							posuere cubilia curae;
							Quisque ipsum nulla, ultricies vitae aliquet ut, consectetur non nunc.. </p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="footer-right">
						<ul>
							<li>Alguma coisa 1</li>
							<li>Alguma coisa 2</li>
							<li>Alguma coisa 3</li>
							<li>Alguma coisa 4</li>
							<li>Alguma coisa 5</li>
							<li>Alguma coisa 6</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<span class="text-center">&copy; 2020</span>
	</div> -->

</body>