<head>
	<title>Login</title>

	



</head>

<body >

	<form method="post" class="form-signin">

		<h1 class="mb-3 font-weight-normal text-center"><i class='fas fa-motorcycle' style='font-size:36px'></i> E-MOTOS
		</h1>
		<br />
		<label for="inputEmail" class="sr-only">Email address</label>
		<input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" autofocus
			ng-model="client.email">

		<label for="inputPassword" class="sr-only">Password</label>
		<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password"
			ng-model="client.password">

		<div class="checkbox mb-3">
			<label>
				<input type="checkbox" value="remember-me"> Remember me
			</label>
		</div>

		<button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="logar()">Logar</button>
		<button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="goToRegister()">Cadastrar-se</button>

		<p class="mt-5 mb-3 text-muted text-center">&copy; 2020</p>

	</form>

</body>