<link rel="stylesheet" href="../css/payment.css">
<link rel="stylesheet" href="../css/footer.css">
<link rel="stylesheet" href="../css/header.css">

<header>
    <div class="header">
        <div id="container">
            <a class="logo" type="logo">E-MOTOS <i class="fas fa-motorcycle"></i></a>
            <div class="header-right">
                <a href="/view/home">Home</a>
                <a href="/view/">Exit</a>
            </div>
        </div>
    </div>
</header>

<!-- CONTEINER DE TODO CONTEUDO -->
<div class="info-pedido">

    <!-- MENSAGEM DE SUCESSO -->
    <div ng-hide="esconderMensagem()" class="container-info-rent">
        <div class="rentSuccess">
            <h1 class="text-success">Aluguel efetuado com sucesso!</h1>
            <hr>
            <p class="text-up"><b>Moto: </b> {{rent.motoRentId.name | uppercase}} - {{rent.motoRentId.brand | uppercase}}</p>
            <p class="text-up"><b>Protocolo: </b> {{rent.protocol}} </p> 
            <p class="text-up"><b>Valor total: </b> {{rent.finalPrice | currency: "R$"}} </p>
            <button ng-click="goToHome()" class="btn btn-outline-success float-right">Voltar pra home</button>
        </div>
        
    </div>

    <!-- TODAS AS INFORMAÇÕES DE ALUGUEL -->
    <div ng-hide="esconderForm()" class="container-info">
        <!-- INFORMAÇÕES DO PEDIDO - MOTO E CLIENTE -->
        <!-- TODAS AS INFORMAÇÕES DE ALUGUEL -->
        <form novalidate name="rentMoto" ng-submit="finish()">
            <div class="conteudo">
                <!-- INFORMAÇÕES DO PEDIDO - MOTO E CLIENTE -->
                <div class="jumbotron" style="background-color: #fff;">
                    <h1> Informações do pedido</h1>

                    <div class="conteiner-fluid">
                        <h4>Informações da moto</h4>
                        <div class="card mb-3 border-light" style="max-width: 600px;">
                            <div class="row no-gutters">
                                <div class="col-md-5">
                                    <img src="{{moto.foto}}" class="card-img img-moto" alt="...">
                                </div>
                                <div class="col-md-7" style="padding-left: 20px;">
                                    <div class="card-body">
                                        <h4 class="card-title">{{moto.name}}</h4>
                                        <p class="card-text"><b>Descrição: </b>{{moto.description}}</p>
                                        <p class="card-text"><b>KM: </b>{{moto.km}}Km Rodados</p>
                                        <p class="card-text"><b>Preço por km: </b> {{moto.pricePerKm | currency:"R$"}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Informações adicionais KMS (que ele vai rodar) e Capacete -->
                    <div class="container-fluid">
                        <div class="additional-options">
                            <h1>Opções adicionais</h1>
                            <div class="row">
                                <label for="kms" style="margin-right: 10px; margin-left: 15px;">
                                    <b>Opções de aluguel (Por KM):</b>
                                </label>
                                <select id="kms" name="kms" class="form-control col-md-3" ng-model="kms" required>
                                    <option value="1">20KM | 2 Dias </option>
                                    <option value="2">40KM | 4 Dias </option>
                                    <option value="3">60KM | 6 Dias </option>
                                    <option value="4">80KM | 8 Dias </option>
                                    <option value="5">100KM | 10 Dias</option>
                                </select>

                            </div>
                            <input ng-model="rentHelmet" id="rentHelmet" name="rentHelmet" type="checkbox">
                            <label for="rentHelmet">
                                <b>Alugar capacete R$20,00</b>
                            </label>
                        </div>

                    </div>
                    <!-- Fim das informações adicionais -->

                </div>
                <!-- INFORMAÇÕES DO PEDIDO - MOTO E CLIENTE -->

                <!-- Container formulários -->
                <div class="container-fluid">
                    <h1 style="margin-left: 16px;">Endereço (Pegar e Devolver)</h1>
                    <h4 style="margin-left: 20px;">Informações do usuário</h4>
                    <!-- Endereço do usuário -->
                    <div class="col-md-6">
                        <div class="card border-light">
                            <div class="card-body">
                                <b class="card-title">Endereço:</b><br>
                                {{user.addressUser.street}}, {{user.addressUser.number}}<br>
                                {{user.addressUser.neighborhood}} - {{user.addressUser.city}} -
                                {{user.addressUser.state}}
                                <br> CEP: {{user.addressUser.zipCode}}<br>
                                <hr>
                                <input ng-model="pickGarage" id="pickGarage" name="pickGarage" type="checkbox">
                                <label for="pickGarage">Usar este endereço para receber</label>
                                <br>
                                <input ng-model="turnOverGarage" id="turnOverGarage" name="turnOverGarage"
                                    type="checkbox">
                                <label for="turnOverGarage">Usar este endereço para entregar</label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <!-- FIM Endereço do usuário -->

                    <div class="row">
                        <!-- Formulário para recebimento -->
                        <div ng-hide="pickGarage" class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Novo Endereço para Recebimento:</h5>
                                    <div class="row">
                                        <div class="input-group form-group">
                                            <input type="street" id="inputStreet" class="form-control col-md-9"
                                                placeholder="Rua" ng-model="addressReceivement.street">
                                            <input type="text" id="inputNumber" class="form-control col-md-3"
                                                placeholder="Nº" ng-model="addressReceivement.number">
                                        </div>
                                        <div class="input-group form-group" style="margin-top: -15px;">
                                            <label for="inputZipCode" class="sr-only">CEP</label>
                                            <input type="zipcode" id="inputZipCode" class="form-control col-md-4"
                                                placeholder="CEP" ng-model="addressReceivement.zipcode">
                                            <label for="inputNeighborhood" class="sr-only">Bairro</label>
                                            <input type="neighborhood" id="inputNeighborhood" class="form-control"
                                                placeholder="Bairro" ng-model="addressReceivement.neighborhood">
                                        </div>
                                        <div class="input-group form-group" style="margin-top: -15px;">
                                            <label for="inputCity" class="sr-only">Cidade</label>
                                            <input type="city" id="inputCity" class="form-control col-md-10"
                                                placeholder="Cidade" ng-model="addressReceivement.city">
                                            <label for="inputState" class="sr-only">Estado</label>
                                            <select type="state" id="inputState" class="form-control col-md-4"
                                                placeholder="Estado" ng-model="addressReceivement.state">
                                                <option>BH</option>
                                                <option>PR</option>
                                                <option>RJ</option>
                                                <option>SP</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Formulário para recebimento -->

                        <!-- Formulário para entrega -->
                        <div ng-hide="turnOverGarage" class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Novo Endereço para retirada:</h5>
                                    <div class="row">
                                        <div class="input-group form-group">
                                            <input type="street" id="inputStreetAddressRemoval"
                                                class="form-control col-md-9" placeholder="Rua"
                                                ng-model="addressRemoval.street">
                                            <input type="text" id="inputNumberAddressRemoval"
                                                class="form-control col-md-3" placeholder="Nº"
                                                ng-model="addressRemoval.number">
                                        </div>
                                        <div class="input-group form-group" style="margin-top: -15px;">
                                            <label for="inputZipCode" class="sr-only">CEP</label>
                                            <input type="zipcode" id="inputZipCodeAddressRemoval"
                                                class="form-control col-md-4" placeholder="CEP"
                                                ng-model="addressRemoval.zipcode">
                                            <label for="inputNeighborhood" class="sr-only">Bairro</label>
                                            <input type="neighborhood" id="inputNeighborhoodAddressRemoval"
                                                class="form-control" placeholder="Bairro"
                                                ng-model="addressRemoval.neighborhood">
                                        </div>
                                        <div class="input-group form-group" style="margin-top: -15px;">
                                            <label for="inputCity" class="sr-only">Cidade</label>
                                            <input type="city" id="inputCityAddressRemoval"
                                                class="form-control col-md-10" placeholder="Cidade"
                                                ng-model="addressRemoval.city">
                                            <label for="inputState" class="sr-only">Estado</label>
                                            <select type="state" id="inputStateAddressRemoval"
                                                class="form-control col-md-4" placeholder="Estado"
                                                ng-model="addressRemoval.state">
                                                <option>BH</option>
                                                <option>PR</option>
                                                <option>RJ</option>
                                                <option>SP</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Formulário para entrega -->
                    </div>
                </div>
            </div>
            <!-- Container formulários -->

            <div class="conteudo">
                <!-- FORMA DE PAGAMENTO -->
                <div class="jumbotron" style="background-color: white;">
                    <h1>Adicionar cartão</h1>
                    <div class="form-group">
                        <h4>Dados do cartão</h4>
                        <!-- Informações do cartão -->
                        <div class="col-md-6-offset-2 container-pagamento">
                            <label for="inputCardHolder" class="sr-only">Nome do Títular</label>
                            <input type="text" id="inputCardHolder" class="form-control" placeholder="Nome do Títular"
                                ng-model="creditCard.cardHolder" required>

                            <label for="inputCpfHolder" class="sr-only">CPF</label>
                            <input type="cpf" id="inputCpfHolder" class="form-control" placeholder="CPF"
                                ng-model="creditCard.cpfHolder" required>

                            <label for="inputCardNumber" class="sr-only">Número do Cartão</label>
                            <input type="cardNumber" id="inputCardNumber" class="form-control"
                                placeholder="Número do cartão" ng-model="creditCard.cardNumber" required>

                            <div class="input-group form-group">
                                <label for="inputCVV" class="sr-only">Código de Segurança</label>
                                <input type="cvv" id="inputCVV" class="form-control col-md-3" placeholder="CCV"
                                    ng-model="creditCard.cvv" required>
                                <label for="inputDueDate" class="sr-only">Data de Vencimento</label>
                                <input type="dueDate" id="inputDueDate" class="form-control" placeholder="Vencimento"
                                    ng-model="creditCard.dueDate" required>

                                <label for="inputFlag" class="sr-only">Bandeira do cartão</label>
                                <select type="flag" id="inputFlag" class="form-control col-md-4" placeholder="Bandeira"
                                    ng-model="creditCard.flag" required>
                                    <option>MasterCard</option>
                                    <option>Visa</option>
                                    <option>Elo</option>
                                    <option>Hipercard</option>
                                </select>
                            </div>
                            <div class="btn-cartao">
                                <button type="submit" class="btn btn-primary">Finalizar Pedido</button>
                                <a href="/view/home" class="btn btn-primary"> Cancelar</a>
                            </div>
                        </div>
                        <!-- FIM Informações do cartão -->
                    </div>
                </div>
            </div>
            <!-- FIM FORM DE PAGAMENTO -->
        </form>
    </div>
    <!-- TODAS AS INFORMAÇÕES DE ALUGUEL -->
</div>

<!-- Rodapé -->
<footer>
    <div class="footer">
        <div id="container">
            <div class="row">
                <div class="container">
                    <h3>SOBRE O E-MOTOS:</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dapibus dui id lacus sagittis
                        interdum. Aliquam a faucibus nisi. Vestibulum ante ipsum primis in faucibus orci luctus et
                        ultrices posuere cubilia curae; Quisque ipsum
                        nulla, ultricies vitae aliquet ut, consectetur non nunc.. </p>
                </div>
                <div class="container">
                    <div class="icon-bar">
                        <a href="#emotos-facebook" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#emotos-twitter" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#emotos-google+" class="google"><i class="fa fa-google"></i></a>
                        <a href="#emotos-linkedin" class="linkedin"><i class="fa fa-linkedin"></i></a>
                        <a href="#emotos-youtube" class="youtube"><i class="fa fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <span class="text-center">&copy; E-Motos &#8212; Aluguel de Motos &#8212; 2020</span>
    </div>
</footer>