.conteinerBody {
    align-items: center;
    align-content: center;    
    margin-bottom: 50px;
    background-color: white;
}

.containerRent {
    margin-top: 20px;
    margin-left: 45px;
    width: 45%;
    box-shadow: 0 4px 4px 0 rgba(226, 211, 211, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

div h4{
  font-size: 25px;
  color: #428bca;
}

/* LINKS */
a {
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
}
  a:hover {
    color: black;
    border: none;
  }
  
  a.active {
    color: white;
    border: none;
  }

  li:hover {
    background-color: #428bca;
    color: black;
  }
  
  li.active {
    background-color: #428bca;
    color: white;
  }

  /* Modal */

  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #428bca;
    color: white;
}

.modal-body {
    padding: 2px 16px;
    background-color: #fff;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #428bca;
    color: white;
}