.conteinerBody {
    align-items: center;
    align-content: center;    
    margin-bottom: -40px;
}

.containerRent {
    margin-top: 20px;
    margin-left: 45px;
    width: 45%;
    box-shadow: 0 4px 4px 0 rgba(226, 211, 211, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
    border: green solid 1px;
}
